body {
  margin: 0;
  color: #666666;
  font-family: "Arial";
  background-color: #f5f5f5;
}

.container {
  background-color: #fff;
  max-width: 1000px;
  margin: auto;
}

.input {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  border: 1px solid;
  padding: 5px;
  margin: 5px auto 15px auto;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.inputlabel {
  display: block;
  text-align: center;
}

form {

}

td, th {
    border: 1px solid darkgray;
}

table, th, td {

  border-collapse: collapse;
  margin: 20px auto 20px auto;
}

td, th {
  padding: 5px;
}

tr:nth-child(odd) {
  background-color: lightgray;
}

th  {
  background-color: lightgray;
}

.tablediv {
  margin: 20px 10% 20px 10%;
}

.tdbtn {
  padding: 0 0 0 0;
}

.header {
  background-color: #ff9933;
  padding: 10px;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
}

.navbar {
  padding: 0px 130px 0px 130px;
  text-align: center;
}

.col3 {
  width: 32.6%;
  display: inline-block;
  text-align: center;
}



.button {
  background-color: #ff9933;
  width: 140px;
  height: 30px;
  border-width: 0px;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  font-family: 'Source Sans Pro',sans-serif;
  margin: 10px auto 10px auto;
  display: block;
}

.editbtn {
  margin: 0 0 0 0;
  background-color: lightgray;
  text-shadow: 0px 0px 0px rgba(0,0,0,0.7);
  font-size: 1rem;
  color: #666666;
  cursor: pointer;
  font-family: 'Source Sans Pro',sans-serif;
  display: block;
}

.button:hover {
  background-color: #f57a00;
}

#pcum_logo {
  float: left; 
  background-image: url("prakticum_logo_white.svg");
  display: block;
  width: 50%;
  height: 50px;
  background-size: 100% 100%;
  color: transparent;
  min-width: 140px;
}

#servicelogo {
  display: inline-block;
  background-image: url("dataservice.svg");
  height: 45px;
  width: 50%;
  background-size: 100% 100%;
  margin: auto;
  min-width: 140px;
}

.logout {
  display: block;
  float: right;
  color: #fff;
}

/* mediaquery for <480px width */
@media screen and (max-width: 750px) {
  #pcum_logo {
    display: none;
  }
  
  #navbar {
    text-align: left;
  }
}

@media screen and (max-width: 1080px) {
   #navbar {
    padding: 0px 0px 0px 0px;
  }
}
}